<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://durablefunctionpedidocliente.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d601f3c9-fcf4-4c40-af51-1502af690fea/resourcegroups/rg-pedido/providers/Microsoft.Web/sites/DurableFunctionPedidoCliente</ResourceId>
    <UserName>$DurableFunctionPedidoCliente</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://durablefunctionpedidocliente.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>